<div style="float:left;width:50%;height:400px">
  <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser">
    {% if post.image.teaser %}
      <img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="teaser" itemprop="image" style="width:90%;">
    {% else %}
      <img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">{% endif %}</a>
</div>
<div style="float:right;width:50%;height:400px;position:relative;bottom:30px">
<h2 class="post-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
{% if post.date %}
  <p class="entry-date date published subtitle" style="position:relative;bottom: 25px"><time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time> - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include front-read-time.html %}</p>
{% endif %}
<p class="post-excerpt" itemprop="description" style="position:relative;bottom: 40px;">{{ post.content | strip_html | truncate: 150 }}<a href="{{ post.url }}">Read more</a></p>
</div>
