---
layout: default
---

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">

		{% include breadcrumbs.html %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
			<p class="subtitle">{% if page.subtitle %}{{ page.subtitle }} - {% endif %}{% if page.read_time %}<i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}{% endif %}</p>
		</div>
	</article><!-- ./wrap -->
</div><!-- /#main -->

{% include feature-image.html %}

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		<div class="inner-wrap">
			<div id="content" class="page-content" itemprop="articleBody">
				<div style="height:20px"></div>
				{{ content }}
					{% include page-meta.html %}
				<hr />
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
				</footer><!-- /.footer -->
				<aside>
					<div style="clear: both;">
					  <h6 style="font-size:15px; float:left;margin:0px;border:0px;padding:0px">FEATURED ITEMS</h6>
					  <h6 style="width:100%;height:2px;background:black;float:right;margin-top:0px;"> </h6>
					</div>
					<div class="tiles">{% include featured-side.html %}</div>

					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->

	</article><!-- ./wrap -->
</div><!-- /#main -->
